
.container{
    max-width:max-content;
    margin:0 0.4em;
   float:left;
    text-align:center;
    position:relative;
    width:auto;
}
.container.darkMode{
    color:#ccc;
   
}
.container.lightMode{
    color: black; 
     
   
} 

.pic img{
    width:100%;
     border-block:inherit ;}
.title{
   font-weight: bold;
   margin-bottom: 1em;
   
}
.channel,.views{
    font-size:medium;
    margin-bottom: 0.2em;
}
.vies span{
    padding:0 0.5em
}
.close{
    position:absolute;
    right:0;
}
.edit{
    position:absolute;
    right:4em;
}