.container{
    width: 15em;
    margin:0 0.2em;
    float:left;
    text-align:center;
    background-color: gray;
}
.pic img{
    width:100%;
    width: 100%;

}
.title{
   font-weight: bold;
   margin-bottom: 1em;
   color:black;
}
.channel,.views{
    font-size:medium;
    color:#ccc;
    margin-bottom: 0.2em;
}
.vies span{
    padding:0 0.5em
}