.container{
    max-width:min-content;
    margin:0 0.4em;
    float:left;
    text-align:center;

    
}
.pic img{
    width:100%;
    width: 100%;
    border-block:inherit ;

}
.title{
   font-weight: bold;
   margin-bottom: 1em;
   color:black;
}
.channel,.views{
    font-size:medium;
    color:black;
    margin-bottom: 0.2em;
}
.vies span{
    padding:0 0.5em
}